html body {
  font-family: 'Ubuntu', sans-serif !important;
}

body>.container {
  margin-top: 6rem !important;
}

/* dark mode toggle */
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
  transform: translateX(24px);
}


.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

/* profile picture */

.profpic-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin-top: -125px;
}

.icon-link {
  margin-bottom: .25rem;
}

.experience-timeline {
  margin-bottom: 1rem;
}

.timeline-item {
  display: block;
  position: relative;
  padding: .5rem 0;
}

.experience-timeline .timeline-item:not(:last-child):before {
  border-left: 1px solid var(--bs-border-color);
  content: "";
  height: 100%;
  left: 24px;
  position: absolute;
  top: 1rem;
}

.myicon {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}

/* Media query for smaller screens */
@media (max-width: 576px) {
  .profpic-container {
    width: 150px;
    height: 150px;
    margin-top: -75px;
  }
}